<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= discordUser.username %>#<%= discordUser.discriminator %>! You are on <%= discordUser.guilds.length %> discord servers (much wow).</p>
<a href="/auth/logout" class="btn btn-primary">Logout</a>