<div class="m-4">
  <h1>Dashboard</h1>
  <p class="lead mb-3">Welcome <%= discordUser.username %>#<%= discordUser.discriminator %>! You are on <%= discordUser.guilds.length %> discord servers (much wow).</p>
</div>